header, main, nav, footer{
    
    border: solid black;
}

/* nav>ul>li>ul{
    display:none;
} */

.center{
    border:solid black;
}

.content-big>*{
     /* visibility: hidden;  */
}
.content-small:nth-child(1),.content-small:nth-child(2){
    /* visibility: hidden; */
}

